.App {
  --amplify-primary-color: #0000ff;
  --amplify-primary-tint: #ff7359;
  --amplify-primary-shade: #e0573e;
}

h2:before, h2:after {
    display: inline-block;
    content: "";
    border-bottom: 1px solid #15385f;
    border-top: 1px solid #15385f;
    width: 8rem;
    height: 5px;
    margin: 0 .5rem;
    vertical-align: bottom;
    -webkit-transform: translateY(-1rem);
    -moz-transform: translateY(-1rem);
    -ms-transform: translateY(-1rem);
    -o-transform: translateY(-1rem);
    transform: translateY(-1rem);
}

#availableheader {
  color: #15385f;
    text-align: center;
    margin-bottom: 1.25rem;
}
